<div class="text-2xl pb-4">Summary</div>
<div class="pr-8 pb-8">
    Seasoned, forward-thinking Software Engineer with extensive experience with the agile method in a cloud based environment. 
    Adept at anticipating gaps in architecture and deploying stable, efficient systems. Proven track record in hands-on leadership 
    and requirements gathering across a wide range of disciplines including architecture and UX.
</div>

<div class="text-2xl pb-4">Work Experience</div>
<div class="pr-8">
    <div class="text-xl pb-2 flex align-bottom justify-start">
        <mat-icon class="mr-2 pr-6 text-slate-500" fontIcon="badge"></mat-icon>
        Senior Software Engineer, &nbsp; <a class="text-blue-800" href="https://www.omnicell.com">Omnicell Corp.</a> &nbsp; <a>2017-Present</a>
    </div>
    <ul class="list-disc pb-8">
        <li>Inaugural developer for a cloud based web application that manages hospitals' restocking processes.</li>
        <li>Instrumental in migrating parts of the legacy desktop application into multiple microservices
            deployed on a Kubernetes cluster, including three backend services and two frontend apps written in Angular. </li>
        <li>Key player in gathering initial requirements and outlining the technical roadmap that would lay 
            the foundation for the application and allow scalable growth.</li>
        <li>Spearheaded new architectural components like data migrations using Python executed as a K8s job during the pre-upgrade hook. 
            Other initiatives include, integrating an ingress filter for authorization using GoLang
            and initiating scheduled K8s jobs based on end-user input.</li>
        <li>One of the primary contributors to the backend ASP.Net library that aggregates common code and specifications 
            into a single repository. </li>
        <li>Active contributor to the frontend library hosting Angular Material components enriched with common 
            functionality and patterns used throughout multiple UI applications within the company. </li>
    </ul>
    
    <div class="text-xl pb-2 flex align-bottom justify-start">
        <mat-icon class="mr-2 pr-6 text-slate-500" fontIcon="badge"></mat-icon>
        Web Developer & Data Analyst, &nbsp; <a class="text-blue-800" href="https://www.atac.com">ATAC Corp.</a> &nbsp; <a>2008-2017</a>
    </div>
    <ul class="list-disc">
        <li>Extensive experience in cleaning and presenting data to airspace controllers.</li>
        <li>Deep understanding of aviation data, enabling the development of in-house tools utilized by other analysts 
            to quickly clean and present data in excel. These tools were written in C# and included parsing large data sets 
            and integration with proprietary Windows applications.</li>
        <li>Prototyped web applications that would display various flight, noise and weather data enabling
            analysts to visualize historical trends. These prototypes were developed in Angular with a Node.js backend.</li>
    </ul>
</div>
