<div class="text-2xl pb-4">Summary</div>
<div class="pr-8 pb-8">
    Proactive cloud engineer, anticipating gaps in architecture, creating stable and efficient systems.
</div>

<div class="text-2xl pb-4">Work Experience</div>
<div class="pr-8">
    <div class="text-xl pb-2 flex align-bottom justify-start">
        <mat-icon class="mr-2 pr-6 text-slate-500" fontIcon="badge"></mat-icon>
        Senior Software Engineer, &nbsp; <a class="text-blue-800" href="https://www.omnicell.com">Omnicell Corp.</a> &nbsp; <a>2017-Present</a>
    </div>
    <ul class="list-disc pb-8">
        <li>Inaugural developer for a cloud based web application that manages hospitals' restocking processes.</li>
        <li>Instrumental in migrating parts of the legacy desktop application into multiple microservices that are
            deployed on a kubernetes cluster. This also includes two frontend apps written in Angular. </li>
        <li>Key player in gathering initial requirements and outlining the technical roadmap that would lay 
            the foundation for the application and allow it to easily grow.</li>
        <li>Spearheaded new architectural components like data migrations using Python running as a K8s job during the pre-upgrade hook. 
            Additional examples include, integrating an ingress filter for authorization using GoLang
            and initiating scheduled K8s jobs to run using Quartz.Scheduler.Net.</li>
        <li>One of the primary contributors to the backend ASP.Net library that aggregates common code and specifications 
            into a single repository. </li>
        <li>Periodic contributor to the frontend library that contains Angular Material components enhanced with common 
            functionality and patterns used throughout multiple UI applications. </li>
    </ul>
    
    <div class="text-xl pb-2 flex align-bottom justify-start">
        <mat-icon class="mr-2 pr-6 text-slate-500" fontIcon="badge"></mat-icon>
        Web Developer & Data Analyst, &nbsp; <a class="text-blue-800" href="https://www.atac.com">ATAC Corp.</a> &nbsp; <a>2008-2017</a>
    </div>
    <ul class="list-disc">
        <li>Extensive experience in cleaning and presenting data to airspace controllers.</li>
        <li>Deep understanding of aviation data that allowed development of tools to quickly clean and present data, 
            using C# with output in Excel.</li>
        <li>Prototyped web applications that would display various flight, noise and weather data. 
            This allowed analysts to visualize historical trends. These prototypes were written in Angular with a Node.js backend.</li>
    </ul>
</div>
