
    <div class="text-2xl pb-2">Contact</div>
    <a class="flex align-bottom justify-end pb-2 text-blue-800" href="mailto:pesettan@gmail.com">pesettan&#64;gmail.com 
        <mat-icon class="ml-2 accent" fontIcon="email"></mat-icon>
    </a>

    <a class="flex align-bottom justify-end pb-2 text-blue-800" href="https://pesettan.github.io">pesettan.github.io
        <mat-icon class="ml-2 accent" fontIcon="public"></mat-icon>
    </a>

    <a class="flex align-bottom justify-end pb-2 text-blue-800" href="https://www.linkedin.com/in/sam-peset-tan-84932683">LinkedIn
        <mat-icon class="ml-2 accent" fontIcon="group"></mat-icon>
    </a>
    
    <div class="flex align-bottom justify-end pb-2">510-862-8179 
        <mat-icon class="ml-2 accent" fontIcon="smartphone"></mat-icon>
    </div>

    <div class="flex align-bottom justify-end pb-2">Newark, CA 
        <mat-icon class="ml-2 accent" fontIcon="location_on"></mat-icon>
    </div>




