<div class="p-4">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [formControl]="guest.name" />
  </mat-form-field>

  <div class="flex flex-col place-content-center p-6">  
    <mat-chip-listbox >
      <mat-chip-option (selectionChange)="onGuest()">Plus a Guest</mat-chip-option>
    </mat-chip-listbox>
    <mat-chip-listbox>
      <mat-chip-option (selectionChange)="onChild()">Plus a Child</mat-chip-option>
    </mat-chip-listbox>
  </div>

  <div class="flex place-content-center p-6">
    <button mat-raised-button 
      color="primary" 
      [disabled]="guest.name.invalid" 
      [mat-dialog-close]="guest">Confirm</button>
  </div>
</div>
