<div class="text-2xl pb-2">Skills</div>
<div class="flex justify-end">ASP.Net <app-level class="pl-1" [level]="3"></app-level></div>
<div class="flex justify-end">C# <app-level class="pl-1" [level]="3"></app-level></div>
<div class="flex justify-end">Angular <app-level class="pl-1" [level]="2"></app-level></div>
<div class="flex justify-end">Typescript <app-level class="pl-1" [level]="2"></app-level></div>
<div class="flex justify-end">Python <app-level class="pl-1" [level]="1"></app-level></div>
<div class="flex justify-end">Kubernetes <app-level class="pl-1" [level]="2"></app-level></div>
<div class="flex justify-end">Kafka <app-level class="pl-1" [level]="2"></app-level></div>
<div class="flex justify-end">Postgres <app-level class="pl-1" [level]="2"></app-level></div>
