<div class="h-full w-screen bg-cover bg-no-repeat bg-scroll bg-galaxy"></div>
<div class="absolute top-0 left-0 h-full w-full backdrop-blur-3xl"></div>
<div class="absolute top-0 left-0 h-full w-full bg-cover bg-no-repeat bg-scroll bg-background">

  <div class="grid grid-cols-3 place-content-center w-screen gap-4 p-4">
    <button class="m-4" mat-raised-button color="primary" (click)="openRsvp()">RSVP</button>
    <button class="m-4" mat-raised-button color="primary" (click)="openRegistry()">Registry</button>
    <button class="m-4" mat-raised-button color="primary" (click)="openMap()">Location</button>
  </div>

  <div class="flex justify-center">
    <img class="w-56 sm:w-56 p-10" src="assets/SVG/baby-img.svg" />
  </div>
    <div class="flex justify-center font-sans text-3xl text-white pt-4">
      Join Ellene and Peset 
    </div>
    <div class="flex justify-center font-sans text-3xl text-white pb-4">
      in welcoming Baby Alyna!
    </div>

    <div class="flex justify-center font-sans text-2xl text-white">
      February 10th 2024
    </div>
    <div class="flex justify-center font-sans text-2xl text-white pb-4">
      1:00PM - 4:00PM
    </div>

    <div class="flex justify-center font-sans text-4xl text-white pb-4">
      <button class="m-4" mat-raised-button color="primary" (click)="openGuestList()">Guest List</button>
    </div>
</div>
