<div class="h-full w-screen bg-cover bg-no-repeat bg-scroll bg-galaxy"></div>
<div class="absolute top-0 left-0 h-full w-full backdrop-blur-3xl"></div>
<div class="absolute top-0 left-0 h-full w-full bg-cover bg-no-repeat bg-scroll bg-background">

  <div class="grid grid-cols-3 place-content-center w-screen gap-4 p-4">
    <button class="m-4" mat-raised-button color="primary">RSVP</button>
    <button class="m-4" mat-raised-button color="primary">Registry</button>
    <button class="m-4" mat-raised-button color="primary">Map</button>
  </div>

  <div class="flex justify-center w-50 p-20">
    <img class="h-45" src="assets/SVG/baby-img.svg" />
  </div>
    <div class="flex justify-center font-sans text-5xl text-white justify-self-center p-4">
      Galaxy Girl
    </div>
    <div class="flex justify-center font-sans text-3xl text-white pt-4">
      Join Ellene and Peset 
    </div>
    <div class="flex justify-center font-sans text-3xl text-white pb-4">
      in Welcoming Baby Alyana!
    </div>

    <div class="flex justify-center font-sans text-2xl text-white pt-4">
      Febuary 14th 2024
    </div>
    <div class="flex justify-center font-sans text-2xl text-white pb-4">
      1:00PM - 4:00PM
    </div>




</div>
