/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;



html, body { height: 100%; }
body { 
  font-family: "Urbanist", sans-serif; 
}

.urbanist {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.accent {
  @apply text-slate-500
}

@page {
  margin: 2cm;
}